
body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.my-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.table-black:nth-child(even) {
    background-color: #292b2c;
    color: #fff;
}

.text-area_add_new {
    display: inline-block;
}

.lined {
    width: 555px;
    height: 270px;
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
}
.textarea{
     width: 555px;
     height: 270px;
     font-size: 20px;
     padding: 10px;
     line-height: 30px;
     border-radius: 3px;
     border: 1px solid #aaaaaa;
 }

.AddNewSongTable
{
    object-position: center;
    top:50%;
    left:50%;
}